* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: ar-font;
  src: url(../fonts/Cairo-Regular.ttf);
}
:root {
  --main-color: #7936b2;
}
body {
  font-family: ar-font, sans-serif;
}
/* Start Header */
header video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  z-index: -1;
}
header .overlay {
  background-color: rgba(255, 255 ,255, 0.7);
}
header .brand {
  padding-top: 40px;
}
.brand-lang {
  color: white;
  float: left;
  text-decoration: none;
  padding: 5px;
  background-color: var(--main-color);
}

.brand-lang:hover {
  opacity: 0.9;
  color: white;
}

.brand-lang.active {
  font-weight: bold;
  float: right;
  position: relative;
  z-index: 100000;
}

header .header-text {
  padding-top: 190px;
}
header .header-text h1 {
  font-size: 36px;
  margin-bottom: 40px;
  line-height: 46px;
  color: #555555;
}
header .header-text p {
  font-size: 18px;
  line-height: 32px;
  color: #5d5d5d;
  margin-bottom: 50px;
}
header .header-button a.btn {
  padding: 22px 55px;
  background-color: var(--main-color);
  color: #ffffff;
  margin-left: 15px;
}
header .header-button a.btn:last-child {
  background: transparent;
  color: var(--main-color);
}
header .product {
  position: relative;
  margin-bottom: 30px;
}
header .product .product-img img {
  width: 100%;
}
header .product .product-label img {
  position: absolute;
  top: -50px;
  right: 15px;
}
header .product .product-label p {
  position: absolute;
  top: -23px;
  right: 70px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px){
.en header .product .product-label p{
  left: -50px;
}
.en header .product .product-label img{
  left: 0;
}
}
@media (min-width: 992px){
.en header .product .product-label p{
  left: -140px;
}
}
@media (min-width: 1200px){
.en header .product .product-label p{
  left: -220px;
}
}
@media (min-width: 1400px){
.en header .product .product-label p{
  left: -295px;
}
}
body:not(.en) .accordion-item .accordion-header button{
  text-align: right;
}
body:not(.en) .accordion-item .accordion-header button::after{
  margin-right: auto;
  margin-left: 0;
}
header .product .product-label span {
  display: block;
}
/* End Header */

/* Start Main */
/* Start Section Features*/
section.features {
  padding: 70px 0;
  background-color: #ffffff;
}
section.features .features-title h2 {
  font-size: 36px;
  color: #555;
  line-height: 32px;
  padding-bottom: 45px;
  position: relative;
}
section.features .features-title h2::after {
  content: "";
  width: 150px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
section.features .media .d-flex {
  padding: 70px 0;
  border-bottom: 3px solid #eeee;
}
section.features .media .d-flex:nth-child(even) {
  direction: rtl;
}
section.features .media .d-flex img {
  margin: 0 80px;
}
section.features .media .d-flex h4 {
  font-size: 36px;
  font-weight: bold;
  color: var(--main-color);
  padding: 0 25px;
  margin-bottom: 50px;
  border-right: 2px solid #6a3093;
}
body.en section.features .media .d-flex:nth-child(odd) h4 {
  border-right: 0;
  border-left: 2px solid #6a3093;
}
section.features .media .d-flex p {
  font-size: 18px;
  line-height: 32px;
  color: #555555;
}
/* Start Section Prices */
section.prices {
  padding: 50px 0 6px;
  background-color: #f7f7f7;
}
section.prices .prices-text h2 {
  font-size: 30px;
  color: #555555;
}
section.prices .plan-card {
  background-color: #fff;
  border: 2px solid #ededed;
  padding: 15px 0;
  margin-top: 100px;
  color: #a9a9a9;
}
section.prices .plan-card span.title {
  font-size: 18px;
  color: #a044ff;
}
section.prices .plan-card h5 {
  font-size: 48px;
  margin: 30px auto;
}
section.prices .plan-card h5 span {
  font-size: 15px;
  vertical-align: bottom;
}
section.prices .plan-card ul {
  padding: 0px;
}
section.prices .plan-card ul li {
  font-size: 15px;
  margin-bottom: 30px;
  list-style: none;
}
section.prices .plan-card a.btn {
  border: 2px solid #7233a2;
  background-color: #fff;
  color: #7233a2;
  padding: 10px 40px;
  border-radius: 0;
  transition: 0.6s all ease;
}
section.prices .plan-card a.btn:hover {
  background-color: #7233a2;
  color: #fff;
}
section.prices .col-md-6:nth-child(3) .plan-card {
  padding-top: 60px;
  margin-top: 55px;
}
section.prices .col-md-6:nth-child(3) .plan-card a.btn {
  background-color: #7233a2;
  color: #fff;
}

/* Start Section Faq */
section.faq {
  padding: 55px 0;
  background-color: #fff;
}
section.faq .faq-title h2 {
  font-size: 30px;
  margin-bottom: 55px;
  color: #555;
}
section.faq .accordion .accordion-item {
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
  border-radius: 0;
}
section.faq .accordion .accordion-item button {
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
section.faq .accordion .accordion-item .accordion-body {
  font-size: 15px;
  color: #c9c9c9;
  line-height: 24px;
}
section.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #fff;
}
section.faq .accordion .accordion-item .accordion-button:focus {
  border: 0;
  box-shadow: 0 0 0;
}

/* Start Section Video */
section.video {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

}
section.video video {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
section.video .overlay {
  background-color: rgba(130, 77, 178, 0.9);
  min-height: 100%;
  position: absolute;
  inset: 0;
}
section.video .overlay button {
  position: absolute;
  bottom: 50%;
  right: 50%;
  font-size: 30px;
  color: #fff;
  background-color: transparent;
  border: 0;
  transform: translate(50%, 50%);
}
section.video .overlay button i {
  display: block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 auto 45px;
}
/* Start Section Contact */
section.contact {
  padding: 60px 0 40px;
  background-color: #313131;
}
section.contact h4 {
  font-size: 18px;
  color: #758594;
  line-height: 50px;
}
section.contact form input,
section.contact form textarea {
  display: block;
  margin-bottom: 10px;
  background-color: #242424;
  font-size: 18px;
  line-height: 35px;
  color: #aeadad;
  border: none;
  width: 90%;
}
section.contact form button {
  border: none;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #a044ff;
  color: #fff;
}
body.en section.contact form button i {
  margin-left: 15px;
}
body:not(.en) section.contact form button i {
  margin-right: 15px;
}
section.contact form .invalid-feedback {
  margin-top: -15px;
  margin-bottom: 15px;
}
section.contact .blog a.blog-link {
  text-decoration: none;
}
section.contact .blog .d-flex {
  margin-bottom: 25px;
}
section.contact .blog h5 {
  font-size: 18px;
  color: #aeadad;
  margin-bottom: 15px;
}
section.contact .blog p {
  font-size: 15px;
  line-height: 20px;
  color: #737373;
}
/* End Main */

/* Start Footer */
footer {
  background-color: #1d1d1d;
  padding: 25px 0;
}
footer .list-inline .list-inline-item a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #1d1d1d;
  background-color: #758594;
  text-align: center;
  border-radius: 50%;
  transition: 0.6s all ease;
}
footer .list-inline .list-inline-item a:hover {
  background-color: #1479ec;
}
footer .copyright p {
  font-size: 15px;
  color: #919191;
  text-align: right;
}
/* End Footer */

@media (max-width: 992px) {
  header .header-text {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  header .overlay .product {
    margin-top: 100px;
  }

  .header .overlay .product .product-label img {
    right: 50%;
    transform: translateX(50%);
  }

  .header .overlay .product .product-label p {
    right: 50%;
    transform: translateX(50%);
  }

  section.features .media .d-flex {
    flex-flow: column;
    text-align: center;
  }

  section.features .media .d-flex img {
    margin: 0 auto 50px;
  }

  section.features .media .d-flex h4 {
    border: none !important;
  }
  section.contact h4 {
  margin-top: 25px;
  }
}
@media (max-width: 576px) {
  footer {
    text-align: center;
  }
  footer .copyright p {
    text-align: center;
  }
}
body:not(.en) .list-inline-item:last-child{
  margin: .5rem;
}